gunicorn
Flask
pip
setuptools
Jinja2
MarkupSafe
Werkzeug
gunicorn
itsdangerous

numpy
requests
# wsgiref
# matplotlib
sklearn
# torch==1.12.0
pandas
# Pillow
# numpy

matplotlib
# numpy>=1.18.5
opencv-python
Pillow
PyYAML
# requests>=2.23.0
# scipy>=1.4.1  # Google Colab version

# tqdm>=4.41.0
# protobuf<=3.20.1
# ipython  # interactive notebook
# psutil  # system utilization
# thop  # FLOPs computation
# gdal
# osgeo

